{
    "singleQuote": true,
    "tabWidth": 4,
    "overrides": [
        {
            "files": [".eslintrc", ".prettierrc"],
            "options": {
                "trailingComma": "none"
            }
        },
        {
            "files": ["*.md"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
